.lead-magnet {
  height: 538px;
  padding-top: 58px;
  padding-bottom: 58px;
  background-image: url(../../images/lead-magnit/mobile/mobile.jpg);
  text-align: center;
  color: $text-main-first-color;
  font-family: $main-font;
}

.magnet {
  color: $accent-color;
}

.section-header {
  margin-bottom: 28px;
}

.section-header-title {
  padding-bottom: 26px;
  font-size: 14px;
  line-height: 1.8;
}

.section-header-subtitle {
  font-size: 11px;
  line-height: 1.8;
}

.form-wrap {
  padding-bottom: 55px;
  text-align: center;
}

.form-input {
  text-align: left;
  width: 280px;
  font-size: 13px;
  line-height: 2.88;
  padding-left: 20px;
  border: 1px solid #fff;
  height: 50px;
  background-color: transparent;
}

.form-input:not(:last-child) {
  margin-bottom: 20px;
}

.form-input::placeholder {
  font-weight: 700;
  color: #fff;
}
