.container-brg-btn {
  position: relative;
}
.header {
  padding: 26px 0 50px;
  // font-family: $main-font;
  background-image: url(../../images/header/Shape_11.png);
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
  &__title {
    // font-family: $main-font;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin: 0 0 38px;
    &_span {
      display: block;
    }
  }
  &__description {
    // font-family: $main-font;
    font-size: 15px;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: 0.3px;
    margin: 0 0 38px;
    &_first {
      color: $text-header-color;
      display: block;
      font-weight: 400;
    }
    &_second {
      color: $accent-color;
    }
  }
  &__image {
    img {
      margin: 0 auto;
    }
  }
}
.tablet-btn {
  display: none;
}
.nav-btn {
  display: flex;
}
.consultation-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $accent-color;
  width: 250px;
  height: 48px;
  color: $accent-color;
  font-family: $sekondary-font;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-right: 42px;
  &:focus {
    color: $accent-secondary-color;
    border-color: $accent-secondary-color;
  }
}
#burger-toggle {
  opacity: 0;
}

#burger-toggle:checked ~ .nav-menu__wrapper {
  visibility: visible;
  opacity: 1;
}
#burger-toggle:checked ~ .burger-btn > span {
  transform: rotate(45deg);
  background-color: $text-main-first-color;
  position: fixed;
}
#burger-toggle:checked ~ .burger-btn > span::before {
  background-color: $text-main-first-color;
  top: 0;
  position: fixed;
}
#burger-toggle:checked ~ .burger-btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: $text-main-first-color;
  position: fixed;
}

.burger-btn {
  display: flex;
  position: absolute;
  right: 0;
  top: 3px;
  z-index: 100;
  width: 26px;
  height: 22px;
  align-items: center;
  span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: $background-color;
    position: absolute;
    transition-duration: 0.5s;

    &::before {
      content: '';
      display: block;
      width: 26px;
      height: 2px;
      background-color: $background-color;
      bottom: 5px;
      position: absolute;
      transition-duration: 0.5s;
    }
    &::after {
      content: '';
      display: block;
      width: 26px;
      height: 2px;
      background-color: $background-color;
      position: absolute;
      top: 5px;
      transition-duration: 0.5s;
    }
  }
}
.logo-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .nav-menu__wrapper {
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    justify-content: center;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    transition-duration: 0.5s;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__text {
    margin-bottom: 36px;
  }
  .consultation-btn {
    margin: 0 auto;
    font-size: 11px;
  }
  .site-logo-overlay {
    position: fixed;
    top: 25px;
    left: 20px;
    color: $text-main-first-color;
    &__text {
      color: $text-main-first-color;
    }
  }
  .nav-list {
    display: block;
    margin-bottom: 44px;
    width: 250px;
    &__link {
      font-family: $sekondary-font;
      font-size: 20px;
      font-weight: 800;
      color: white;
      &:hover {
        color: $accent-color;
      }
    }
    &__item:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .consultation-btn {
    margin: 0;
  }
  .tablet-btn {
    display: block;
    margin-left: 180px;
  }
  .site-logo-overlay {
    position: fixed;
    top: 39px;
    left: 39px;
    color: $text-main-first-color;
    &__text {
      color: $text-main-first-color;
    }
  }
  .nav-btn {
    display: none;
  }
  .nav-list {
    &__item:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
@media (min-width: 768px) {
  .header {
    padding: 36px 0 94px;
    background-image: url(../../images/header/Shape_2.png);
    &__text {
      width: 280px;
      padding-top: 10px;
    }
    &__title {
      font-size: 26px;
    }
  }
  .burger-btn {
    top: 12px;
  }
  .nav-list {
    margin-bottom: 44px;
    padding-left: 40px;
    &__link {
      font-family: $sekondary-font;
      font-size: 20px;
      font-weight: 800;
      color: $text-main-first-color;
      &:hover {
        color: $accent-color;
      }
    }
  }
  .nav-menu {
    display: flex;
  }
  .logo-nav-wrapper {
    margin-bottom: 40px;
  }

  .header-content-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .site-btn {
    margin: 0;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 36px 0 94px;
    background-image: url(../../images/header/Shape_2.png);
    background-position: bottom;
    &__text {
      width: 494px;
      padding-top: 74px;
    }
    &__title {
      font-size: 48px;
    }
    &__description {
      font-size: 18px;
      margin-bottom: 66px;
    }
  }
  .site-logo-overlay {
    display: none;
  }
  #burger-toggle {
    display: none;
  }

  .nav-btn {
    display: flex;
  }
  .nav-list {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    &__link {
      font-family: $sekondary-font;
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
      color: $text-header-color;
      margin-bottom: 0px;

      &:hover {
        color: $accent-color;
      }
    }
    &__item {
      margin-bottom: 0;
      margin-right: 44px;
    }
  }
  .consultation-btn {
    margin: 0;
    font-size: 12px;
    width: 300px;
    height: 70px;
  }
  .burger-btn {
    display: none;
  }
  .nav-menu__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1680px) {
  .header {
    padding: 27px 0 140px;
    background-image: url(../../images/header/Shape_3.png);
    &__text {
      width: 610px;
      padding-top: 94px;
    }
    &__title {
      font-size: 52px;
      line-height: 1.4;
    }
    &__description {
      font-size: 21px;
      margin-bottom: 60px;
    }
    &__image-wrapper {
      position: absolute;
      top: 115px;
      right: -115px;
    }
  }
  .nav-list {
    &__link {
      font-family: $sekondary-font;
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
    }
    &__item {
      margin-right: 57px;
    }
  }
  .consultation-btn {
    width: 350px;
    height: 70px;
    font-size: 14px;
  }
}
