.programs{
    background-color: #111517;
    padding-top: 55px;
    padding-bottom: 440px;
    &__title{
        color: white;
        font-family: $main-font;
        font-size: 20px;
        line-height: 33px;
        letter-spacing: 1px;
    }
    &__img-mobile{
        position: absolute;
        transform: translateY(-40px);
        right: 0;
    }
    &__img-tablet{
        display: none;
    }
    &__img-desktop{
        display: none;
    }
    &__list{
        counter-reset: title-counter;
        width: 125px;
        margin: 0 auto;
        position: relative;
        &-title{
        color: white;
        font-family: $main-font;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 1.65px;
        counter-increment: title-counter ;
        margin: 0;
        margin-top: 40px;
            &::before{
            content: counter(title-counter);
            margin-right: 5px;
            }
        }   
        &-items{
        position: relative;
            &::before{
            content: '';
            border-radius: 50%;
            background-color: rgb(255, 107, 8);
            position: absolute;
            width: 10px;
            height: 10px;
            transform: translate(-29px, 10px);
            }
        }
        &-suject-description{
        font-family: $main-font;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0.55px;
        color: #858585;
        margin: 0;
        }
        &-subject-title{
        font-family: $main-font;
        font-size: 13px;
        line-height: 30px;
        letter-spacing: 0.65px;
        color: $accent-color;
        position: relative;
        margin: 0;
            &::before{
            display: inline-block;
            content: ' ';
            background-color: $accent-color;
            width: 25px;
            height: 2px;
            margin-right: 12px;
            vertical-align: middle;
            }
        }
        &::before{
            position: absolute;
            content: '';
            width: 2px;
            height: 1180px;
            background-color: #858585;
            transform: translate(-25px, 15px);
        }
    }
}


  