.programs{
    background-color: #111517;
    padding-top: 55px;
    padding-bottom: 440px;
    @media (min-width: 768px){
        padding-bottom: 360px;
        padding-top: 70px;
    }
    
    &__title{
        color: white;
        font-family: $main-font;
        font-size: 20px;
        line-height: 33px;
        letter-spacing: 1px;
        @media (min-width: 768px){
            text-align: left;
            font-size: 26px;
            line-height: 62px;
            font-weight: 800;
        }
    }
    &__img-mobile{
        position: absolute;
        transform: translateY(-40px);
        right: 0;
        @media (min-width: 768px){
            display: none;
        }
    }
    &__img-tablet{
        display: none;
        @media (min-width: 768px){
            display: block;
            position: absolute;
            transform: translateY(-175px);
            right: 0;
        }
    }
    &__img-desktop{
        display: none;
    }
    &__list{
        counter-reset: title-counter;
        width: 125px;
        margin: 0 auto;
        position: relative;
        @media (min-width: 768px){
            margin:0 0 0 180px;
            width: auto;
        }
        &-title{
        color: white;
        font-family: $main-font;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 1.65px;
        counter-increment: title-counter ;
        margin: 0;
        margin-top: 40px;
            &::before{
            content: counter(title-counter);
            margin-right: 5px;
            }
        }   
        &-items{
        position: relative;
            &::before{
            content: '';
            border-radius: 50%;
            background-color: rgb(255, 107, 8);
            position: absolute;
            width: 10px;
            height: 10px;
            transform: translate(-30px, 10px);
            @media (min-width: 768px){
                transform: translate(-40px, 10px);
            }
            }
        }
        &-subject{
            @media (min-width: 768px){
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            } 
        }
        &-suject-description{
        font-family: $main-font;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0.55px;
        color: #858585;
        margin: 0;
        }
        &-subject-title{
        font-family: $main-font;
        font-size: 13px;
        line-height: 30px;
        letter-spacing: 0.65px;
        color: $accent-color;
        position: relative;
        margin: 0;
            &::before{
            display: inline-block;
            content: ' ';
            background-color: $accent-color;
            width: 25px;
            height: 2px;
            margin-right: 12px;
            vertical-align: middle;
            }
        }
        &::before{
            position: absolute;
            content: '';
            width: 2px;
            height: 1180px;
            background-color: #858585;
            transform: translate(-26px, 15px);
            @media (min-width: 768px){
                transform: translate(-36px, 15px);
                height: 700px;
            }
        }
    }
}


  