// fonts
$main-font: 'Monserat', sans-serif;
$sekondary-font: 'Tahoma', sans-serif;

// colors
$text-main-color: #858585;
$text-main-first-color: #ffffff;
$text-main-secondary-color: #18191d;
$text-header-color: #b9b9b9;
$accent-color: #ff6b08;