.up-btn {
  display: flex;
  width: 24px;
  height: 24px;
  fill: $accent-color;
  position: fixed;
  right: 10px;
  bottom: 10px;
  &:hover {
    fill: $accent-secondary-color;
  }
}
@media (min-width: 768px) {
  .up-btn {
    width: 30px;
    height: 30px;
    right: 20px;
    bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .up-btn {
    width: 54px;
    height: 54px;
    right: 30px;
    bottom: 30px;
  }
}
